body{
  /*background:#000;*/
  /*/color: white;*/
}

.App{
  margin-left:30%;
}

.App-title{
  font-size: 26px;
}

.nav-menu{
  margin-bottom: 50px;
  color:'#7bb92f';
}

.is-active{
  font-weight: bold;
}

.artist-info{
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.artist{
  display:flex;
  justify-content: center;
}

.artist-img{
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 75px;
  object-fit: cover;
}

.artist-name{
  font-size: 26px;
}

.artist-followers, .artist-genres{
  font-size: 18px;
}

/*Gallery*/
.gallery{
  display: inline;
}

.track{
  width: 180px;
  height: 180px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position:relative;
  display:inline-block;
}

.track-img {
  width: 180px;
  height: 180px;
  border: 3px solid white;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text{
  background-color: black;
  color: white;
  opacity: 0.75;
  width: 173px;
  text-align:center;
  position: absolute;
  margin-left: 3px;
  bottom: 0;
  padding: 5px;
}

.track-play{
  position:absolute;
  width: 180px;
  height: 180px;
}

.track-play-inner{
  position:absolute;
  text-align: center;
  font-size: 25px;
  background-color: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  margin-left: 60px;
  margin-top: 60px;
  opacity: 0;
}

.track-play-inner:hover{
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in{
  from{
    opacity: 0;
  } to {
    opactiy: 0.8;
  }
}
